In [5]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import linear_kernel,sigmoid_kernel
import plotly.express as px
import plotly.graph_objects as go
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
df=pd.read_csv("book_data.csv")

In [4]:
df.head(3)

,book_authors,book_desc,book_edition,book_format,book_isbn,book_pages,book_rating,book_rating_count,book_review_count,book_title,genres,image_url
0,Suzanne Collins,Winning will make you famous. Losing means cer...,NaN,Hardcover,9.78044E+12,374 pages,4.33,5519135,160706,The Hunger Games,Young Adult|Fiction|Science Fiction|Dystopia|F...,https://images.gr-assets.com/books/1447303603l...
1,J.K. Rowling|Mary GrandPré,There is a door at the end of a silent corrido...,US Edition,Paperback,9.78044E+12,870 pages,4.48,2041594,33264,Harry Potter and the Order of the Phoenix,Fantasy|Young Adult|Fiction,https://images.gr-assets.com/books/1255614970l...
2,Harper Lee,The unforgettable novel of a childhood in a sl...,50th Anniversary,Paperback,9.78006E+12,324 pages,4.27,3745197,79450,To Kill a Mockingbird,Classics|Fiction|Historical|Historical Fiction...,https://images.gr-assets.com/books/1361975680l...

In [6]:
df.describe()

        book_rating  book_rating_count  book_review_count
count  54301.000000       5.430100e+04        54301.00000
mean       4.020027       4.350449e+04         2011.60218
std        0.362100       2.126572e+05         7627.07287
min        0.000000       0.000000e+00            0.00000
25%        3.830000       4.070000e+02           35.00000
50%        4.030000       2.811000e+03          188.00000
75%        4.220000       1.274500e+04          822.00000
max        5.000000       5.588580e+06       160776.00000

In [11]:
df.isnull().mean()

book_authors         0.000000
book_desc            0.024512
book_edition         0.899578
book_format          0.030497
book_isbn            0.236939
book_pages           0.046445
book_rating          0.000000
book_rating_count    0.000000
book_review_count    0.000000
book_title           0.000000
genres               0.059704
image_url            0.012578
dtype: float64

In [12]:
df.isnull().sum()

book_authors             0
book_desc             1331
book_edition         48848
book_format           1656
book_isbn            12866
book_pages            2522
book_rating              0
book_rating_count        0
book_review_count        0
book_title               0
genres                3242
image_url              683
dtype: int64

In [13]:
df.drop(df[df['book_desc'].isna()].index,inplace=True)

In [14]:
df=df.drop(['book_edition','book_isbn','image_url','book_pages'],1)

C:\Users\Fatma\AppData\Local\Temp\ipykernel_2132\3447778493.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df=df.drop(['book_edition','book_isbn','image_url','book_pages'],1)

In [16]:
df.isna().sum()

book_authors            0
book_desc               0
book_format          1352
book_rating             0
book_rating_count       0
book_review_count       0
book_title              0
genres               2793
dtype: int64

In [18]:
df=df.dropna()

In [19]:
pd.unique(df['book_format'])

array(['Hardcover', 'Paperback', 'Mass Market Paperback', 'ebook',
       'Board book', 'Boxed Set', 'Audio CD', 'Capa comum',
       'Kindle Edition', 'Audio Cassette', 'Capa dura', 'Box Set', 'Nook',
       'Library Binding', 'Pasta blanda', 'Slipcased Hardcover',
       'Broschiert', 'Unknown Binding', 'Trade Paperback', 'Board Book',
       'Paperback ', 'MP3 CD', 'Audiobook', 'cloth', 'Brochura',
       'Leather Bound', 'pocket', 'Audio', 'Textbook Binding',
       'Paperback/Kindle', 'paper', 'Perfect Paperback',
       'Digital virtual book', 'Hardcover Slipcased ', 'unknown',
       'Paper back', 'Paperback, Kindle, Ebook, Audio',
       'Paperback and Kindle', 'online serial', 'Klappenbroschur',
       'Audible Audio', 'Hardcover im Schuber', 'Poche', 'paperback',
       'Graphic Novels', 'broché', 'Science Fiction Book Club Omnibus',
       'Newsprint', 'Spiral-bound', 'Mass Market', 'Comic',
       'Hardcover Boxed Set', 'Taschenbuch', 'Mass Market Paperback ',
       'Hardback', 'Gebundene Ausgabe', 'CD-ROM', 'hardbound',
       'paperback, Kindle eBook', 'Kindle', 'Softcover', 'hardcover',
       'Broché', 'Online Fiction', 'Hardbound', 'eBook Kindle',
       'online fiction', 'Bonded Leather', 'paper book', 'Bolsillo',
       'Capa mole', 'Paperback, eBook', 'Box-Set', 'capa mole',
       'Tapa dura con sobrecubierta', 'Hard Cover', 'Bìa mềm', 'Gebunden',
       'Flexibound', 'Trade Paper', 'Capa mole - 15,5 x 23 x 2cm',
       'Trade paperback', 'Cofanetto', 'コミック', 'Capa Mole', 'Vinyl Cover',
       'Digital Comic', 'Large Paperback',
       'Interactive Fiction, Gamebook', 'revised edition',
       'School & Library Binding', 'Hardcover Chapbook', 'Wattpad',
       'Board', 'Hardcover, Case bound', 'Audio CD ', 'text', 'hardback',
       'Capa Dura', 'PDF', 'Innbundet', 'Newsletter Serial', 'web', '文庫',
       'Diary', 'Kovakantinen', 'Online', 'Digital', 'Imitation Leather',
       'Мягкая обложка (Paperback)', 'Hardcover-spiral', 'Tapa blanda',
       'Online Fiction - Complete', '単行本', 'Unbound', 'Edición Kindle',
       ' Trade Paperback', 'Pamphlet', 'Big Book', 'Brossura', 'Podcast',
       'Audio Book', 'Paperback (عربي-English)', 'PDF ', 'audio cassette',
       'free online', 'Other Format', 'Novelty Book', 'Podiobook',
       'Tankobon Hardcover', 'Turtleback', 'Audio Cd', 'Casebound',
       'audiobook', 'Bantam New Fiction'], dtype=object)

In [20]:
df.book_desc[30]

"A funny, often poignant tale of boy meets girl with a twist: what if one of them couldn't stop slipping in and out of time? Highly original and imaginative, this debut novel raises questions about life, love, and the effects of time on relationships.Audrey Niffenegger’s innovative debut, The Time Traveler’s Wife, is the story of Clare, a beautiful art student, and Henry, an adventuresome librarian, who have known each other since Clare was six and Henry was thirty-six, and were married when Clare was twenty-three and Henry thirty-one. Impossible but true, because Henry is one of the first people diagnosed with Chrono-Displacement Disorder: periodically his genetic clock resets and he finds himself misplaced in time, pulled to moments of emotional gravity in his life, past and future. His disappearances are spontaneous, his experiences unpredictable, alternately harrowing and amusing. The Time Traveler’s Wife depicts the effects of time travel on Henry and Clare’s marriage and their passionate love for each other as the story unfolds from both points of view. Clare and Henry attempt to live normal lives, pursuing familiar goals—steady jobs, good friends, children of their own. All of this is threatened by something they can neither prevent nor control, making their story intensely moving and entirely unforgettable."

In [21]:
df.head(3)

,book_authors,book_desc,book_format,book_rating,book_rating_count,book_review_count,book_title,genres
0,Suzanne Collins,Winning will make you famous. Losing means cer...,Hardcover,4.33,5519135,160706,The Hunger Games,Young Adult|Fiction|Science Fiction|Dystopia|F...
1,J.K. Rowling|Mary GrandPré,There is a door at the end of a silent corrido...,Paperback,4.48,2041594,33264,Harry Potter and the Order of the Phoenix,Fantasy|Young Adult|Fiction
2,Harper Lee,The unforgettable novel of a childhood in a sl...,Paperback,4.27,3745197,79450,To Kill a Mockingbird,Classics|Fiction|Historical|Historical Fiction...

In [22]:
def to_string(x):
    if x:
        return x.replace('|',' ')
    else:
        return ''
    
df['book_authors']=df['book_authors'].apply(lambda x: to_string(x))
df['genres']=df['genres'].apply(lambda x: to_string(x))

In [24]:
df.columns

Index(['book_authors', 'book_desc', 'book_format', 'book_rating',
       'book_rating_count', 'book_review_count', 'book_title', 'genres'],
      dtype='object')

In [25]:
def soup(x):
    return x.book_authors+' '+x.genres

In [27]:
df['soup']=df.apply(soup, 1)

In [29]:
df2=(df.sample(replace = False, 
                         frac = 0.3) 
            .sort_index()
           .reset_index())

In [30]:
df2.drop_duplicates(subset ="book_title", 
                     keep = False, inplace = True)

In [31]:
df2.head(3)

,index,book_authors,book_desc,book_format,book_rating,book_rating_count,book_review_count,book_title,genres,soup
0,3,Jane Austen Anna Quindlen Mrs. Oliphant George...,«È cosa ormai risaputa che a uno scapolo in po...,Paperback,4.25,2453620,54322,Pride and Prejudice,Classics Fiction Romance,Jane Austen Anna Quindlen Mrs. Oliphant George...
5,9,J.R.R. Tolkien,لجزء الثالث من ملحمة جيه أر أر تولكين الرائعة ...,Mass Market Paperback,4.59,99793,1652,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,Fantasy Fiction Classics,J.R.R. Tolkien Fantasy Fiction Classics
6,11,Douglas Adams,Seconds before the Earth is demolished to make...,Paperback,4.21,1155911,23919,The Hitchhiker's Guide to the Galaxy,Science Fiction Fiction Humor Fantasy Classics,Douglas Adams Science Fiction Fiction Humor Fa...

In [32]:
df3=df2.sort_values(by='genres',ascending=True)

In [33]:
tf=TfidfVectorizer()
tf_mat=tf.fit_transform(df2.soup)

In [34]:
tf_mat.shape

(13380, 12240)

In [35]:
sig=sigmoid_kernel(tf_mat,tf_mat)

In [36]:
ind=df2.index
titles=df2['book_title']
idx=pd.Series(ind,index=titles).drop_duplicates()
idx

book_title
Pride and Prejudice                                                          0
J.R.R. Tolkien 4-Book Boxed Set: The Hobbit and The Lord of the Rings        5
The Hitchhiker's Guide to the Galaxy                                         6
Ender's Game                                                                10
The Help                                                                    12
                                                                         ...
やはり俺の青春ラブコメはまちがっている 1                                                    14693
とある魔術の禁書目録 3                                                             14694
Pym                                                                      14695
The Blazing World                                                        14696
Taking the Field: A Fan's Quest to Run the Team He Loves                 14697
Length: 13380, dtype: int64

In [38]:
def get_recom(title,sig=sig):
    idcs=idx[title]
    sim_sc=list(enumerate(sig[idcs]))
    sim_sc=sorted(sim_sc,key=lambda x: x[1],reverse=True)
    sim_sc=sim_sc[1:21]
    book_indices=[i[0] for i in sim_sc]
    wss=[]
    for i in book_indices:
        wss.append(df2['book_title'].iloc[i])
        
    return wss

In [40]:
get_recom(df2['book_title'].iloc[8])

['The Time Keeper',
 'For One More Day',
 'The First Phone Call from Heaven',
 "Still Lolo: A Spinning Propeller, a Horrific Accident, and a Family's Journey of Hope",
 'Through The Storm: A Real Story of Fame and Family in a Tabloid World',
 'Coreyography',
 'A Mighty Heart: The Brave Life and Death of My Husband, Danny Pearl',
 'Losing It: And Gaining My Life Back One Pound at a Time',
 'The Kid : A True Story',
 'Prime Green: Remembering the Sixties',
 'Hand to Mouth: A Chronicle of Early Failure',
 'Stop-Time',
 'Life Without Limits',
 "The Storyteller's Daughter: One Woman's Return to Her Lost Homeland",
 'Moab Is My Washpot',
 'The Lives and Loves of Daisy and Violet Hilton: A True Story of Conjoined Twins',
 'M Train',
 'Henry and June: From the Unexpurgated Diary of Anaïs Nin',
 'Autobiography',
 'Taken on Trust']

In [41]:
df2['book_title'].iloc[2]

"The Hitchhiker's Guide to the Galaxy"

In [42]:
df2['book_title'][6948]

'A Season on the Brink: A Year with Bob Knight and the Indiana Hoosiers'