In [1]:
import pandas as pd
import numpy as np
import warnings
from matplotlib import pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
import seaborn as snb
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns',185)
pd.set_option('display.max_rows',185)
df=pd.read_csv("TripAdvisor_RestauarantRecommendation.csv",encoding="iso-8859-1")

In [2]:
df.head(3)

,Name,Street Address,Location,Type,Reviews,No of Reviews,Comments,Contact Number,Trip_advisor Url,Menu,Price_Range
0,Betty Lou's Seafood and Grill,318 Columbus Ave,"San Francisco, CA 94133-3908","Seafood, Vegetarian Friendly, Vegan Options",4.5 of 5 bubbles,243 reviews,NaN,+1 415-757-0569,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
1,Coach House Diner,55 State Rt 4,"Hackensack, NJ 07601-6337","Diner, American, Vegetarian Friendly",4 of 5 bubbles,84 reviews,"Both times we were there very late, after 11 P...",+1 201-488-4999,https://www.tripadvisor.com//Restaurant_Review...,Check The Website for a Menu,$$ - $$$
2,Table Talk Diner,2521 South Rd Ste C,"Poughkeepsie, NY 12601-5476","American, Diner, Vegetarian Friendly",4 of 5 bubbles,256 reviews,Waitress was very friendly but a little pricey...,+1 845-849-2839,https://www.tripadvisor.com//Restaurant_Review...,http://tabletalkdiner.com/menu/breakfast/,$$ - $$$

In [3]:
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
from sklearn.feature_extraction import text

In [5]:
df.isnull().sum()

Name                  0
Street Address        0
Location              0
Type                 13
Reviews               0
No of Reviews         0
Comments            615
Contact Number        0
Trip_advisor Url      0
Menu                  0
Price_Range           0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3062 entries, 0 to 3061
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              3062 non-null   object
 1   Street Address    3062 non-null   object
 2   Location          3062 non-null   object
 3   Type              3049 non-null   object
 4   Reviews           3062 non-null   object
 5   No of Reviews     3062 non-null   object
 6   Comments          2447 non-null   object
 7   Contact Number    3062 non-null   object
 8   Trip_advisor Url  3062 non-null   object
 9   Menu              3062 non-null   object
 10  Price_Range       3062 non-null   object
dtypes: object(11)
memory usage: 263.3+ KB

In [10]:
df1=df[["Name","Type"]]

In [11]:
df1.head(3)

                            Name                                          Type
0  Betty Lou's Seafood and Grill   Seafood, Vegetarian Friendly, Vegan Options
1              Coach House Diner          Diner, American, Vegetarian Friendly
2               Table Talk Diner          American, Diner, Vegetarian Friendly

In [12]:
df1.isnull().sum()

Name     0
Type    13
dtype: int64

In [13]:
df1=df1.dropna()

In [14]:
df1.isnull().sum()

Name    0
Type    0
dtype: int64

In [16]:
feature=df1["Type"].tolist()
tfidf=text.TfidfVectorizer(input=feature,stop_words="english")
tfidf_matrix=tfidf.fit_transform(feature)
similarity=cosine_similarity(tfidf_matrix)

In [17]:
indices=pd.Series(df1.index,index=df1['Name']).drop_duplicates()

In [18]:
def restaurant_recommendation(name,similarity=similarity):
    index=indices[name]
    similarity_scores=list(enumerate(similarity[index]))
    similarity_scores=sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similarity_scores=similarity_scores[0:10]
    restaurantindices=[i[0] for i in similarity_scores]
    return df1['Name'].iloc[restaurantindices]

In [19]:
restaurant_recommendation("Market Grill")

23                   The Lion's Share
154                        Houlihan's
518            Midgley's Public House
568                 Aspen Creek Grill
770              Pete's Sunset Grille
1190     Paul Martin's American Grill
1581                   Aviation Grill
1872                   Aviation Grill
2193                Crest Bar & Grill
2612    Tahoe Joe's Famous Steakhouse
Name: Name, dtype: object